<p id="notice"><%= notice %></p>

<h1>Listing Readings</h1>
<% if @readings.present? %>
	<div id="slider" data-slider-value= "<%= @readings.present? ? @readings.main_slider_values : "0" %>" data-s1= "<%= @readings.s1? ? @readings.s1 : "0" %>" data-s2= "<%= @readings.s2? ? @readings.s2 : "0" %>" data-s3= "<%= @readings.s3? ? @readings.s3 : "0" %>" data-s4= "<%= @readings.s4? ? @readings.s4 : "0" %>" data-s5= "<%= @readings.s5? ? @readings.s5 : "0" %>" data-s6= "<%= @readings.s6? ? @readings.s6 : "0" %>" data-s7= "<%= @readings.s7? ? @readings.s7 : "0" %>" data-s8= "<%= @readings.s8? ? @readings.s8 : "0" %>" data-s9= "<%= @readings.s9? ? @readings.s9 : "0" %>" data-s10= "<%= @readings.s10? ? @readings.s10 : "0" %>"></div>
	<div id="create-pane"></div>
<% else %>
	<div id="slider"></div>
	<div id="create-pane"></div>
<% end %>