<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @reading.user %>
</p>

<p>
  <strong>Main slider values:</strong>
  <%= @reading.main_slider_values %>
</p>

<p>
  <strong>S1:</strong>
  <%= @reading.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @reading.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @reading.s3 %>
</p>

<p>
  <strong>S4:</strong>
  <%= @reading.s4 %>
</p>

<p>
  <strong>S5:</strong>
  <%= @reading.s5 %>
</p>

<p>
  <strong>S6:</strong>
  <%= @reading.s6 %>
</p>

<p>
  <strong>S7:</strong>
  <%= @reading.s7 %>
</p>

<p>
  <strong>S8:</strong>
  <%= @reading.s8 %>
</p>

<p>
  <strong>S9:</strong>
  <%= @reading.s9 %>
</p>

<p>
  <strong>S10:</strong>
  <%= @reading.s10 %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
